.tmp/direct_form_video_workflow.json
{
  "name": "Direct Google Form to AI Video",
  "nodes": [
    {
      "parameters": {
        "path": "video-form-submit",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "responseData": "={{ { \"success\": true, \"message\": \"Video generation started\", \"request_id\": $json.request_id } }}",
        "options": {}
      },
      "id": "7792529b-4fb6-4154-99e3-67c3e64a4639",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "54af07ce-94fb-462b-9110-78b8912c1460"
    },
    {
      "parameters": {
        "jsCode": "// Parse Google Form webhook data\nconst input = $input.first().json;\n\n// Google Forms sends data in body or query params\nconst formData = input.body || input.query || input;\n\n// Generate unique request ID\nconst requestId = Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\n// Extract form fields\nconst data = {\n  request_id: requestId,\n  product_name: formData.product_name || formData['entry.product_name'] || '',\n  product_photo: formData.product_photo || formData['entry.product_photo'] || '',\n  avatar_description: formData.avatar_description || formData['entry.avatar_description'] || '',\n  product_features: formData.product_features || formData['entry.product_features'] || '',\n  video_setting: formData.video_setting || formData['entry.video_setting'] || '',\n  email: formData.email || formData['entry.email'] || '',\n  timestamp: new Date().toISOString()\n};\n\n// Validate required fields\nconst required = ['product_name', 'avatar_description', 'product_features', 'video_setting'];\nconst missing = required.filter(field => !data[field]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\nreturn [{ json: data }];"
      },
      "id": "bffdbb50-1be9-4c06-9086-5a8b7bca94e4",
      "name": "Parse Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a UGC video script writer. Create authentic, conversational 15-second scripts for user-generated content style ads. Keep it natural and relatable."
            },
            {
              "role": "user",
              "content": "=Create a 15-second UGC-style video script for:\n\nProduct: {{ $json.product_name }}\nFeatures: {{ $json.product_features }}\nSetting: {{ $json.video_setting }}\nAvatar: {{ $json.avatar_description }}\n\nMake it authentic and conversational. The script should feel like a real person sharing their experience."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 200
        }
      },
      "id": "e26b8cdc-fb78-4ada-a477-f709d96a3183",
      "name": "Generate Script (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the generated script\nconst openaiResponse = $input.first().json;\nconst script = openaiResponse.choices?.[0]?.message?.content || openaiResponse.message?.content || '';\n\nif (!script) {\n  throw new Error('Failed to generate script from OpenAI');\n}\n\nconst formData = $('Parse Form Data').first().json;\n\nreturn [{\n  json: {\n    request_id: formData.request_id,\n    generated_script: script.trim(),\n    product_name: formData.product_name,\n    product_photo: formData.product_photo,\n    avatar_description: formData.avatar_description,\n    video_setting: formData.video_setting,\n    email: formData.email,\n    timestamp: formData.timestamp\n  }\n}];"
      },
      "id": "0d854655-f279-4c58-b089-d9e0df8093fe",
      "name": "Extract Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.d-id.com/talks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"script\": {\n    \"type\": \"text\",\n    \"input\": $json.generated_script,\n    \"provider\": {\n      \"type\": \"microsoft\",\n      \"voice_id\": \"en-US-JennyNeural\"\n    }\n  },\n  \"config\": {\n    \"fluent\": true,\n    \"pad_audio\": 0\n  },\n  \"source_url\": $json.product_photo || \"https://create-images-results.d-id.com/default_presenter.jpg\"\n} }}",
        "options": {}
      },
      "id": "64dc54c7-196d-44df-9bf3-dcfdb9a55c8f",
      "name": "Create Video (D-ID)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "D-ID API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract talk ID from D-ID response\nconst response = $input.first().json;\nconst talkId = response.id;\n\nif (!talkId) {\n  throw new Error('No talk ID returned from D-ID API');\n}\n\nconst scriptData = $('Extract Script').first().json;\n\nreturn [{\n  json: {\n    request_id: scriptData.request_id,\n    talk_id: talkId,\n    status: response.status || 'created',\n    product_name: scriptData.product_name,\n    generated_script: scriptData.generated_script,\n    email: scriptData.email,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a495b5e8-eae0-4a91-8f90-a23baa4c9ca4",
      "name": "Extract Talk ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "f027f79c-5e2c-4b19-a29c-5d1e2d975db9",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ],
      "webhookId": "ad91e3a3-f801-42ed-9450-e5b4ec2f285d"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.d-id.com/talks/{{ $json.talk_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "8c824d7e-cd02-46e2-9759-6678c572600a",
      "name": "Check Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "D-ID API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "done"
            }
          ]
        }
      },
      "id": "7ad47b8e-3aa1-400f-b6b5-253e62934900",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $('Extract Talk ID').first().json.email }}",
        "subject": "=Your AI Video is Ready - {{ $('Extract Talk ID').first().json.product_name }}",
        "emailType": "html",
        "message": "=<h2>Your AI Video is Ready!</h2>\n\n<p>Hi there,</p>\n\n<p>Your UGC-style video for <strong>{{ $('Extract Talk ID').first().json.product_name }}</strong> has been generated successfully!</p>\n\n<p><strong>Video URL:</strong><br>\n<a href=\"{{ $json.result_url }}\">{{ $json.result_url }}</a></p>\n\n<p><strong>Generated Script:</strong><br>\n{{ $('Extract Talk ID').first().json.generated_script }}</p>\n\n<p><strong>Request ID:</strong> {{ $('Extract Talk ID').first().json.request_id }}</p>\n\n<p>Thanks for using our AI Video Generator!</p>",
        "options": {}
      },
      "id": "7c5a49ee-8e05-405d-876a-ffeb63b2eebc",
      "name": "Send Email with Video",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2220,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      },
      "notes": "Optional: Configure SMTP to send email notifications"
    },
    {
      "parameters": {
        "jsCode": "// Check timeout (max 3 minutes for D-ID)\nconst startTime = $('Extract Talk ID').first().json.created_at;\nconst elapsed = Date.now() - new Date(startTime).getTime();\nconst maxWait = 3 * 60 * 1000; // 3 minutes\n\nif (elapsed > maxWait) {\n  throw new Error('Video generation timeout - exceeded 3 minutes');\n}\n\n// Pass data back\nreturn [{\n  json: {\n    request_id: $('Extract Talk ID').first().json.request_id,\n    talk_id: $('Extract Talk ID').first().json.talk_id,\n    status: 'processing',\n    product_name: $('Extract Talk ID').first().json.product_name,\n    generated_script: $('Extract Talk ID').first().json.generated_script,\n    email: $('Extract Talk ID').first().json.email,\n    created_at: $('Extract Talk ID').first().json.created_at\n  }\n}];"
      },
      "id": "67b4776b-87f6-4393-ac68-9334cd2e2c09",
      "name": "Still Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        400
      ]
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Parse Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Form Data": {
      "main": [
        [
          {
            "node": "Generate Script (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Script": {
      "main": [
        [
          {
            "node": "Create Video (D-ID)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video (D-ID)": {
      "main": [
        [
          {
            "node": "Extract Talk ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Talk ID": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Send Email with Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Still Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Processing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Receives Google Form submissions directly via webhook, generates script with OpenAI, creates video with D-ID"
  }
}